body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.db-content{
    margin-top: 80px;
}

.table thead > tr > th {
    font-size: 25px;
}

hr {
    color: #222;
}

h1, h2, h3, h4 {
    font-family: Candara;
}

dt, dd {
    margin-bottom: 10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
