@{
    ViewBag.Title = "Provider";
}

@section styles{
    @Styles.Render("~/Content/index.css");
}

@section Body{
    <div class="container" style="margin-top: 200px">
        <div class="row text-justify">
            <div class="col-sm-4">
                <img src="~/Content/Providers/rdm.jpg" class="img-responsive center-block" />
                <h4>Региональный Дом Металла</h4>
                <p>
                    Компания "Региональный дом металла" - активный участник металлургической отрасли
                    Северо-Западного региона по оказанию услуг подбора, сборки, продажи и доставке металлопроката и изделий из стали.
                </p>
            </div>

            <div class="col-sm-4">
                <img src="~/Content/Providers/c235.png" class="img-responsive center-block" />
                <h4>С235</h4>
                <p>
                    Компания С235 групп основана в 2009 году в городе Москве и является одним из крупнейших поставщиков металлопроката и стальных труб в России. 
                    Предлагает профильные трубы со складов в Москве и Московской области. Поставляет широкий ассортимент профильных труб в различном исполнении - 
                    строительные профили, общего назначения, тонкостенные и мебельные трубы.
                </p>
            </div>

            <div class="col-sm-4">
                <img src="~/Content/Providers/lador.png" class="img-responsive center-block" />
                <h4>Ладор</h4>
                <p>
                    Появление имени "Ладор Комплект" в реестре металлоторговцев датировано 2004 годом. 
                    Целью создания фирмы являлось обеспечение сбыта трубной продукции в московском регионе. 
                    Начав с нескольких сотен тонн, объем месячных продаж впоследствии был доведен до 2,5 тыс. тонн.
                </p>
            </div>
        </div>

        <div class="row text-justify row-space">
            <div class="col-sm-6 col-align-bottom">
                <img src="~/Content/Providers/orion.png" class="img-responsive center-block" style="width:40%" />
                <h4>Орион-Металл</h4>
                <p>
                    Компания «Орион-Металл» в течение 13 лет осуществляет поставки металлопроката, профнастила и кровельных систем и
                    на сегодняшний день занимает лидирующие позиции в регионах своего присутствия.
                    Основной вид деятельности - продажа металлопроката и металлоизделий собственного производства.
                </p>
            </div>

            <div class="col-sm-6 col-align-bottom">
                <img src="~/Content/Providers/aprom.jpg" class="img-responsive center-block" style="width: 40%" />
                <h4>Апром Групп</h4>
                <p>
                    ООО "Апром Групп" работает в сфере продаж черного и нержавеющего металлопроката с 2014 года. 
                    Осуществляет оптовые и розничные поставки во все регионы РФ, а также страны СНГ.
                </p>
            </div>
        </div>
    </div>

}

